.dragtarget
{
  position: relative;
  cursor: -webkit-grab;
}
.dragtarget:active,
.dragtarget:focus
{
  cursor: -webkit-grabbing;
}
.box
{
  width: 100px;
  height: 100px;
  background-color: #fcf;
}
.imgbox
{
  width: 200px;
  height: 100px;
  border: 2px solid #dfe342;
  overflow: hidden
}
.imgbox img
{
  width: 100%;
}
.circle
{
  width: 100px;
  height: 100px;
  background-color: #24ef15;
  border-radius: 100%;
}